{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/question.css') }}">
{% endblock %}
{% block content %}
  <div class="content">
    <div class="container">
      <div class="cate__contents">
        <div class="cate__ttl">
          <h3>
            質問{{ questionNum }}
          </h3>
        </div>
        <div class="cate__txt">
            {{ question.content }}
        </div>
      </div>
      <section class="cate">
        <div class="cate__select">
          {% for key, form in forms %}
           <div class="cate__detail-ct">
              <label class="cate__detail" for="#">
                <input type="button">
                {{ form(form) }}
              </label>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
  {% endblock %}
  {% block javascript %}
    {% endblock %}