<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>Hara Naxをご利用いただきありがとうございます。<br>前回ご投稿頂いた相談内容の結果についてのお知らせです。</p>
<p><a href="{{ url('contrib_detail',{'id':pageId}) }}">{{ url('contrib_detail',{'id':pageId}) }}</a></p>
<p>ぜひお役立てください</p>
</body>
</html>