@import "initial";
@import "variable";

body {
    background-color: $color-bc;
    color: $color-txt;
}

header {
    height: 58px;
    background-color: $color-btn;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .content {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }
}

.hs {
    &__adcontainer {
        margin-top: 108px;
        margin-bottom: 36px;
        .input {
            background-color: $color-btn;
            width: 100%;
            padding-left: 10px;
            padding-top: 5px;
            border: none;
            padding-bottom: 5px;
            color: $color-txt;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }
    &__ad-detail {
        font-size: 17px;
        font-weight: bold;
        color: $color-base;
        padding-bottom: 32px;
    }
    &__wtcontainer {
        margin-bottom: 45px;
        .input-area {
            min-height: 300px;
            background-color: $color-btn;
            width: 100%;
            padding-left: 10px;
            padding-top: 5px;
            border: none;
            padding-bottom: 5px;
            color: $color-txt;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            resize: none;
        }
    }
    &__wt-detail {
        font-size: 17px;
        font-weight: bold;
        color: $color-base;
        padding-bottom: 32px;
    }
    &__btn {
        :hover {
            opacity: 0.8;
            background-color: $color-am;
            transition: 0.6s;
        }
        display: flex;
        justify-content: center;
        button {
            padding: 9px 45px;
            background-color: $color-btn;
            border-radius: 10px;
            border: solid 3px $color-txt;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }
}
