@import "initial";
@import "variable";

body {
  background-color: $color-bc;
  color: $color-txt;
  background-image: url("/bundles/app/img/selectCate/bg-pc.png");
  background-image: image-set(
    url("/bundles/app/img/selectCate/bg-pc.png") 1x,
    url("/bundles/app/img/selectCate/bg-pc@2x.png") 2x
  );
  background-image: -webkit-image-set(
    url("/bundles/app/img/selectCate/bg-pc.png") 1x,
    url("/bundles/app/img/selectCate/bg-pc@2x.png") 2x
  );
  @media screen and (max-width:600px) {
    background-image: url("/bundles/app/img/selectCate/bg.png");
    background-image: image-set(
      url("/bundles/app/img/selectCate/bg.png") 1x,
      url("/bundles/app/img/selectCate/bg@2x.png") 2x
    );
    background-image: -webkit-image-set(
      url("/bundles/app/img/selectCate/bg.png") 1x,
      url("/bundles/app/img/selectCate/bg@2x.png") 2x
    );
  }
  background-repeat: no-repeat;
  background-position: left bottom 2em;
}
header {
  height: 58px;
  background-color: $color-btn;
}
.content {
  padding-top: 51px;
}
.container {
  width: fit-content;
    margin: 0 auto;
}
.cate {
  &__select {
    margin-bottom: 60px;
  }
  &__contents {
    margin-top: 56px;
    margin-bottom: 61px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
  &__ttl {
    color: #2673b8;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 17px;
    text-align: center;
    font-family: $font-ja;
  }
  &__txt {
    font-size: 14px;
    font-family: $font-ja;
  }
  &__detail-ct {
    padding: 0 50px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /*コレ*/
    @media screen and (max-width: 600px) {
      padding: 0px;
    }
    &::before {
      cursor: pointer;
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      width: 46px;
      height: 46px;
    }
  }
  &__detail-ct:first-child {
    &::before {
      padding-left: 154px;
      background: url(../img/selectCate/gender.png) center no-repeat;
      @media screen and (max-width: 600px) {
        padding-left: 0px;
      }
    }
  }
  &__detail-ct:nth-child(2) {
    &::before {
      padding-left: 154px;
      background: url(../img/selectCate/punch.png) center no-repeat;
      @media screen and (max-width: 600px) {
        padding-left: 0px;
      }
    }
  }
  &__detail-ct:nth-child(3) {
    &::before {
      padding-left: 154px;
      background: url(../img/selectCate/chilist.png) center no-repeat;
      @media screen and (max-width: 600px) {
        padding-left: 0px;
      }
    }
  }
  &__detail {
    text-align: center;
    font-size: 18px;
    display: block;
    background-color: $color-btn;
    width: 860px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding:  35px 0;
    @media screen and (max-width:600px) {
      width: fit-content;
      padding: 20px 116.5px;
    }
  }
  &__to-top {
    margin-left: 65px;
    margin-top: 113px;
    &__btn {
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #f6e37d !important;
        transition: 0.6s;
      }
      &:hover:before {
        border-color: transparent #f6e37d transparent transparent;
        transition: 0.6s;
      }
      position: relative;
      font-size: 20px;
      display: block;
      padding: 4px 30px 4px 20px;
      font-weight: bold;
      color: #000;
      background: white;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        border-style: solid;
        border-width: 15.5px 16px 15.5px 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
  &__btn-wrap {
    background-color: $color-btn;
    
    button {
     
      position: relative;
      font-size: 20px;
      display: block;
      padding: 4px 13px 4px 19px;
      font-weight: bold;
      color: #000;
    }
  }
}

.select-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: $font-ja;
}

.cate__btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  &-wrap {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    :hover {
      opacity: 0.8;
      background-color: $color-am;
      transition: 0.6s;
    }
    background-color: $color-btn;
    border-radius: 10px;
    border: solid 3px $color-txt;
    button {
      display: block;
      padding: 18px 77px;
    }
  }
}
