@import "initial";
@import "variable";

body {
  background-color: $color-bc;
  color: $color-txt;
  background-image: url("/bundles/app/img/selectCate/bg.png");
  background-image: image-set(
    url("/bundles/app/img/selectCate/bg.png") 1x,
    url("/bundles/app/img/selectCate/bg@2x.png") 2x
  );
  background-image: -webkit-image-set(
    url("/bundles/app/img/selectCate/bg.png") 1x,
    url("/bundles/app/img/selectCate/bg@2x.png") 2x
  );
  background-repeat: no-repeat;
  background-position: left bottom -14em;
}
header {
  height: 58px;
  background-color: $color-btn;
}
.content {
  padding-top: 51px;
}
.cate {
  &__select {
    margin-bottom: 60px;
  }
  &__contents {
    margin-top: 56px;
    margin-bottom: 61px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
  &__ttl {
    color: #2673b8;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 17px;
    text-align: center;
    font-family: $font-ja;
  }
  &__txt {
    font-size: 14px;
    font-family: $font-ja;
  }
  &__detail-ct {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /*コレ*/
    &::before {
      cursor: pointer;
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      width: 46px;
      height: 46px;
    }
  }
  &__detail-ct:first-child {
    &::before {
      background: url(../img/selectCate/gender.png) center no-repeat;
    }
  }
  &__detail-ct:nth-child(2) {
    &::before {
      background: url(../img/selectCate/punch.png) center no-repeat;
    }
  }
  &__detail-ct:nth-child(3) {
    &::before {
      background: url(../img/selectCate/chilist.png) center no-repeat;
    }
  }
  &__detail {
    margin-top: 230px;
    font-size: 18px;
    display: block;
    padding: 20px 116.5px;
    background-color: $color-btn;
    width: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  &__btn {
    width: 270px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-50%);
    bottom: 40px;
    left: 50%;
  }
  &__to-top {
    &__btn {
      position: relative;
      font-size: 20px;
      display: block;
      padding: 4px 30px 4px 20px;
      font-weight: bold;
      color: #000;
      background: white;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        border-style: solid;
        border-width: 15.5px 16px 15.5px 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
  &__btn-wrap {
    :hover {
      opacity: 0.8;
      background-color: $color-am;
      transition: 0.6s;
    }
    background-color: $color-btn;

    button {
      position: relative;
      font-size: 20px;
      display: block;
      padding: 4px 13px 4px 19px;
      font-weight: bold;
      color: #000;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: -16px;
        border-style: solid;
        border-width: 15.5px 0 15.5px 16px;
        border-color: transparent transparent transparent #ffffff;
      }
    }
  }
}

.select-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: $font-ja;
}
