{% extends 'layout.html.twig' %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/detail.css') }}">
    {% endblock %}
    {% block content %}
    <div class="comment-complete">
        <div class="comment-complete__wrap">
        <p class="comment-complete__txt">コメントを投稿しました</p>
        <a href="{{ path("contrib_detail",{"id":id }) }}" class="back-btn">戻る</a>
    </div>
</body>
</html>{% endblock %}